<div>

    <!-- Contact Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="singin">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Create Project</h3>
        <span ng-style={color:'green'}>{{regmsg}}</span>

        <form ng-submit="CreateProject(selectedItem,ProjectName,Budget)">
            
            <br />

            <a>Project Manager </a>
            <select ng-model="selectedItem" ng-options="Type.value as Type.name for Type in Types" class="w3-container w3-content">
                <option value="" disabled>Select the P.M.</option>
            </select>

            <br /><br />
            <input class="w3-input w3-border" type="text" placeholder="Project Name" required name="Project Name" ng-model="ProjectName">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Budget" required name="Budget" ng-model="Budget">

            <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> Create
            </button>
            <br />
            <a href="#Projects" ng-style={color:'blue'}>Return to Projects</a><br />
        </form>
    </div>
</div>